@page "/count"
@inject IMyService myservice1
@inject CountModel currentCount

<CascadingValue Value="currentCount">
    <h1>Count parent</h1>

    <p>Current count is : @currentCount.Count</p>

    <button class="btn btn-primary" @onclick="clickMe">+1 from parent</button>

    <CountChild></CountChild>
</CascadingValue>

@code {

    protected override void OnInitialized()
    {

        myservice1.RefreshRequested += this.RefreshMe;
    }

    private void clickMe() {
        currentCount.Increment();
    }

    private async Task RefreshMe()
    {
        StateHasChanged();
    }
}